html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        div.container
            h1 Add new album
            p 
                a(href="/") Return to the homepage
            form(method="POST")
                label(for="name") Album name
                input#name(type="text" name="name" required)
                label(for="artist") Artist
                input#artist(type="text" name="artist" required)
                label(for="label") Label
                input#label(type="text" name="label" required)
                label(for="description") Description
                textarea#description(name="description" rows="10" cols="75" required)
                input(type="submit" value="Submit")